:root {
    --color-bg: #282828;
    --color-fg: #fbf1c7;
    --color-link: #b8bb26;
    --color-link-visited: #b8bb26;
    --color-link-hover: #8ec07c;
}

html, body {
  background-image: radial-gradient(#3c3836 0.5px, #282828 0.5px);
  background-size: 10px 10px;
  color: var(--color-fg);
  font-family: monospace;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 460px 600px 1fr;
  grid-template-areas:
    ". left right .";
  column-gap: 10px;
  justify-items: left;
  align-items: center;
  min-height: 100%;
}

.left {
  grid-area: left;
  aspect-ratio: 1/1;
}

.right {
  grid-area: right;
  width: 100%;
  background-color: #1d2021;
  padding-bottom: 30px;
  padding-left: 15px;
  border-radius: 20px;
}

.image img {
  max-height: 500px;
  border-radius: 20px;
  border: 5px solid #fbf1c7;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 24px;
  font-size: 16px;
  padding-top: 60px;

}

.head2 {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 24px;
  font-size: 16px;
  padding-top: 15px;
}

.category {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.bookmarks {
  display: flex;
  justify-content: center;
}

.search-form {
  width: 20rem;
  outline: none;
  border: none;
  background-color: #1a1d1e;
  color: #fbf1c7;
  font-size: 14px;
  padding: 10px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.title {
  font-size: 16px;
  padding-bottom: 7.5px;
  color: #b16186;

}

li {
  font-size:14px;
  list-style-type: none;
  padding: 5px;
}

a:link {
  text-decoration: none;
  color: var(--color-link);
}

a:visited {
  color: var(--color-link-visited);
}

a:hover {
  color: var(--color-link-hover);
}


@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

